@import "tailwindcss";
@plugin "daisyui";

/* Used for the horizontal color family pill navigation */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;           
}
