<%# Expects: product_color, brand, stash_item (can be nil) %>

<%= render "shared/slide_panel_header", title: "Preview color" %>

<div class="px-4 py-6" id="color-detail-content">
  <%= render "product_colors/color_detail_content",
      product_color: product_color,
      brand: brand,
      stash_item: stash_item %>
</div>
