<% content_for :title, "Editing product color" %>

<h1>Editing product color</h1>

<%= render "form", product_color: @product_color %>

<br>

<div>
  <%= link_to "Show this product color", @product_color %> |
  <%= link_to "Back to product colors", product_colors_path %>
</div>
