<% content_for :title, "Color chart" %>

<div class="mx-auto mt-8 w-full space-y-4">
  <h1>Color chart</h1>
  
  <ul class="grid grid-cols-4 sm:grid-cols-6 md:grid-cols-8 lg:grid-cols-10 xl:grid-cols-12 gap-2" id="product_colors">
    <% @product_colors.each do |product_color| %>
        <%= render "color_chip", color: product_color %>
    <% end %>
  </ul>
</div>
