<% content_for :title, "Color libraries" %>

<h1>Color Libraries</h1>

<ul class="grid" id="product_colors">
  <% @product_colors.each do |product_color| %>
    <li>
      <%= render "color_chip", color: product_color %>
    </li>
  <% end %>
</ul>
