<% content_for :title, "New product color" %>

<h1>New product color</h1>

<%= render "form", product_color: @product_color %>

<br>

<div>
  <%= link_to "Back to product colors", product_colors_path %>
</div>
