<div class="container mx-auto mt-8 space-y-6">
  <div class="mx-auto w-sm space-y-4">
    <%= render @product_color %>

    <% if stash_item = Current.user.stash_items.find_by(product_color_id: @product_color.id) %>
      <p class="text-green-600 font-medium">This color is already in your stash.</p>
      <%= button_to "Remove from stash", stash_item_path(stash_item), method: :delete, params: { stash_item: { product_color_id: @product_color.id } }, class: "btn btn-outline" %>
    <% else %>
      <%= button_to "Add to my stash", stash_items_path, params: { stash_item: { product_color_id: @product_color.id } }, class: "btn btn-outline" %>
    <% end %>
  </div>
</div>
