<div id="<%= dom_id palette %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= palette.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Creator:</strong>
    <%= palette.creator_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= palette.description %>
  </div>
</div>
