<li class="aspect-square rounded-lg flex items-center justify-center" style="background-color: #<%= color.hex_color %>;">
  <p class="text-xs md:text-sm <%= color.oklch_l > 0.6 ? 'text-black' : 'text-white' %>"><%= color.vendor_code %></p>
</li>
