<% content_for :title, "Color libraries" %>

<div class="container mx-auto mt-8 w-full space-y-4 p-4">
  <h1>Color Libraries</h1>
  <ul>
    <% @available_brands.each do |brand| %>
      <%= link_to brand.name, color_library_path(brand.name.downcase), class: "badge badge-soft badge-primary" %>
    <% end %>

  </ul>
</div>

<%= render "color_grid", product_colors: @product_colors %>
