<div class="shrink-0 relative size-14 rounded-full bg-gray-100 overflow-hidden">
  <%= cl_image_tag(
    public_id,
    class: "absolute w-20 h-20 object-cover top-[-6px] left-1/2 -translate-x-1/2"
  ) %>
</div>
