<div class="flex items-center gap-2 sm:gap-3 py-6 bg-white">

  <div class="h-px flex-1 bg-gray-200"></div>

  <h2 class="text-xs font-bold text-gray-500 uppercase tracking-wider flex items-center gap-2">
    <%= family_name %>
  </h2>

  <div class="h-px flex-1 bg-gray-200"></div>
</div>
