<% if notice.present? %>
  <div class="container mx-auto mt-4 w-full space-y-4 p-4">
    <div role="alert" class="alert alert-success alert-outline">
      <%= notice %>
    </div>
  </div>
<% end %>

<% if alert.present? %>
  <div class="container mx-auto mt-4 w-full space-y-4 p-4">
    <div role="alert" class="alert alert-warning alert-outline">
      <span><%= alert %></span>
    </div>
  </div>
<% end %>
