<%# Expects: ownership_status %>
<div class="absolute top-1.5 right-1.5 sm:top-2 sm:right-2">
  <div class="p-1 sm:p-1.5 flex justify-center items-center rounded-full bg-white/85">
    <div class="size-4 sm:size-5 flex justify-center items-center text-gray-700">
      <% if ownership_status == "owned" %>
        <%= icon(:check_outline) %>
      <% elsif ownership_status == "wish_list" %>
        <%= icon(:shopping_bag_outline) %>
      <% end %>
    </div>
  </div>
</div>
