<%# Expects: ownership_status %>
<div class="absolute top-1.5 right-1.5 sm:top-2 sm:right-2">
  <% if ownership_status == "owned" %>
    <div class="size-6 sm:size-7 flex justify-center items-center rounded-full bg-white/85">
        <div class="size-4 sm:size-5 flex justify-center items-center text-gray-700">
          <%= icon(:check_outline) %>
        </div>
    </div>
  <% end %>
</div>
