<div id="<%= dom_id stash_item %>">
  <p>
    <strong>Owner:</strong>
    <%= stash_item.owner_id %>
  </p>

  <p>
    <strong>Product color:</strong>
    <%= stash_item.product_color_id %>
  </p>

</div>
