<%= turbo_stream.replace "color-detail-content" do %>
  <div class="px-4 py-6" id="color-detail-content">
    <%= render "product_colors/color_detail_content", 
        product_color: @product_color, 
        brand: @brand, 
        stash_item: @stash_item %>
  </div>
<% end %>

<%= turbo_stream.replace dom_id(@product_color, :stash_indicator) do %>
  <%= render "shared/swatch_stash_indicator", product_color: @product_color, is_in_stash: true %>
<% end %>
