<%= render @stash_item %>

<div>
  <% if policy(@stash_item).update? %>
    <%= link_to "Edit this stash item", edit_stash_item_path(@stash_item) %> |
  <% end %>
  <% if policy(@stash_item).destroy? %>
    <%= link_to "Back to stash items", stash_items_path %>
  <% end %>
  <%= button_to "Destroy this stash item", @stash_item, method: :delete %>
</div>
