<%# locals: (palette:, thread_slots:) %>

<div id="background-layer"
     class="min-h-screen pb-32 transition-colors duration-300"
     data-palette-editor-target="backgroundLayer"
     style="<%= "background-color: ##{palette.background_color&.hex_color};" if palette.background_color %>">

  <%# Header card %>
  <%= render "palettes/editor/header", palette: palette, thread_slots: thread_slots %>

  <%# Color pills area %>
  <div class="px-6 lg:px-12 mt-8">
    <div id="color-pills-container">
      <%= render "palettes/editor/color_pills_container",
          palette: palette,
          thread_slots: thread_slots %>
    </div>
  </div>

</div>
