<%# locals: (palette:, brand_fabrics:, current_background:) %>

<div class="flex gap-3 overflow-x-auto pb-3 -mx-4 px-4 min-h-[120px]">
  <% if brand_fabrics.any? %>
    <% brand_fabrics.each do |fabric| %>
      <%= render "palettes/editor/fabric_swatch",
          palette: palette,
          fabric: fabric,
          is_selected: current_background&.id == fabric.id %>
    <% end %>
  <% else %>
    <div class="flex-1 flex items-center justify-center text-zinc-500 text-sm">
      <p>No fabrics found. Try adjusting filters.</p>
    </div>
  <% end %>
</div>
