<div id="header-stats" class="flex items-center gap-1 sm:gap-1.5 text-base-content/70 text-sm">
  <%= icon(:grid_outline, class: "size-4") %>
  <span>
    <%= thread_slots.length %>/<%= Palette::SLOT_LIMITS["thread"][:max] %> colors
  </span>
</div>
