<h1>Welcome to the Dashboard</h1>
<h2>Hello, <%= Current.user.first_name %></h2>

<div class="container mx-auto mt-8 w-full space-y-4 text-center">
  <h2 class="text-3xl font-bold">Create a new palette</h2>
  <p>Coming soon</p>
</div>

<div class="container mx-auto mt-8 w-full space-y-4 text-center">
  <%= link_to "Browse libraries", product_colors_path, class: "btn" %>
</div>

<%= render "shared/dock" %>
