<div class="p-4 space-y-4">
  <div class="bg-amber-200 h-60 rounded-xl p-4 flex flex-col justify-around">
    <div>
      <p class="text-sm font-bold">Hi, <%= Current.user.first_name.titleize %> <%= Current.user.last_name.first.upcase %></p>
      <h1 class="text-3xl font-bold">Create a new palette</h1>
    </div>
    <div><a class="btn btn-neutral">Coming soon</a></div>
  </div>
  
  <div class="text-center">
    <%= link_to "Browse libraries", color_libraries_path, class: "btn" %>
  </div>
</div>
