<div class="px-4 space-y-4">
<div class="bg-linear-to-br from-amber-100 via-amber-200 to-orange-200 h-60 rounded-xl p-6 flex flex-col justify-between">

  <div>
    <p class="text-sm font-medium text-amber-900/70">Hi, <%= Current.user.first_name.titleize %></p>
    <h1 class="text-3xl font-bold text-amber-950">Create a new palette</h1>
  </div>
  <div>

    <%= link_to "Start now", new_palette_path, class: "btn btn-neutral" %>
  </div>
</div>

</div>
