<% content_for :full_width_before do %>
  <div class="hero bg-base-200 min-h-screen -mt-8">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Take the guesswork out of color</h1>
        <p class="py-6">Create palettes from actual thread colors, see how they work together, and start every project knowing it will turn out the way you imagined.</p>
        <%= link_to "Get started", signup_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
<% end %>

<div>
</div>
