<div class="hero bg-base-200 min-h-screen -mt-8">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">From color inspiration to first stitch</h1>
      <p class="py-6">Browse actual thread colors, build a digital stash, create beautiful palettes, preview combinations in sample projects, and plan your next purchase.</p>
      <%= link_to "Get started", signup_path, class: "btn btn-primary"%>
    </div>
  </div>
</div>
