<turbo-frame id="fabric_picker_content">
  <div class="py-2 h-80 overflow-y-auto" data-panel="colors">
    
    <% if @colors.empty? %>
      <div class="px-4 py-8 text-center text-sm text-base-content/50">
        No colors in this family
      </div>
    <% else %>
      <% @colors.each do |color| %>
        <%= render "fabric_picker/color_button", color: color %>
      <% end %>
    <% end %>

  </div>
</turbo-frame>
